<html>
    <head>
        <title>AptFinder with Sketchy-meter!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="../static/bootstrap/css/bootstrap.min.css"
         rel="stylesheet" media="screen">
        <style type="text/css">
            body {
                background: url("../static/bootstrap/img/background_pic3.jpg") no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            .well {
                margin: 0 auto; 
            }

            div[class='tooltip-inner'] {
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        <br> 
        <div class="container">
        <header class="row">
        <div class="span12">
            <nav class="navbar">    
            <div class="navbar-inner">
                <a href="/" class="brand"><strong>Less</strong>Sketchy</a>
                <ul class="nav"> 
                    <li class="divider-vertical"></li>
                    <li><a href="#about" data-toggle="modal">About</a></li>
                        <div id="about" class="modal hide fade">
                            <div class='modal-header'>
                                <button type='button' class='close' 
                                 data-dismiss='modal' aria-hidden='true'>
                                 x</button>
                                <h3>About This Web-App</h3>
                            </div>
                            <div class='modal-body'>
                                <ul>
                                    <li>
                                    <p>
                                        Queries the latest 
                                        <a href="www.craigslist.com">Craigslist</a>
                                        apartment postings from the Bay area.                                                        </p>
                                    </li>
                                    <li>
                                    <p>
                                        Analyzes listing price, absence of specific information,
                                        number of words and fraction of capital letters used in
                                        the posts.

                                    </p>
                                    </li>
                                    <li>
                                    <p>
                                        Trained detection model with the balanced
                                        random forest algorithm for a <strong>highly imbalanced
                                        </strong> training 
                                        set (99% legitimate and 1% fraudulent posts).
                                    </p>
                                    </li>
                                </ul>
                                <br>
                                <h4>Cross-validation</h4>
                                <table class='table table-hover'>
                                    <tbody>
                                        <tr><td>Precision</td> <td>74%</td></tr>
                                        <tr><td>Recall</td> <td>80%</td></tr>
                                        <tr><td>False Positive</td> <td>28%</td></tr>
                                        <tr><td>F-score</td> <td>77%</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class='modal-footer'>
                            </div>
                        </div>
                    <li class="divider-vertical"></li>
                    <li><a href="/slides">Slides</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connect/Contact<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://www.linkedin.com/pub/shih-ho-cheng/26/855/857">LinkedIn</a></li>
                            <li><a href="https://twitter.com/WoofChance">Twitter</a></li>
                            <li><a href="https://github.com/shcheng">Github</a></li>
                            <li class="divider"></li>
                            <li><a href="mailto:shihho.cheng@gmail.com">shihho.cheng [at] gmail</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                </ul> 
            </div>
            </nav>
        </div>
        </header>
        </div> 

        {% block content %}{% endblock %}

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script>$('div').popover()</script>
        <script>$('a').popover()</script>
    </body>
</html>
