{% extends "layout.html" %}
{% block content %}
    
    <div class="container">
        <div class='row'>
        <div class='span6 offset3'>
        <div class='well'>
            <center>
            <iframe src="http://www.slideshare.net/slideshow/embed_code/23743891" width="500" height="416" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/ShihHoCheng/less-sketchy" title="Less sketchy" target="_blank">Less sketchy</a> </strong> from <strong><a href="http://www.slideshare.net/ShihHoCheng" target="_blank">Shih-Ho Cheng</a></strong> </div>
            </center>
        </div>
        </div>
        </div>
    </div> 

{% endblock %}
